table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #004aad;
    color: white;
}

header {
    background-color: #004aad;
    color : white;
    border : solid 1px black;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 1s;
}

header::after{
    display: block;
    content:"";
    clear:both;
}

header:hover {
    background-color: rgb(182, 0, 0);
}

#logo{
    width : 70px;
    float : right;
    margin: 10px 20px 10px 30px;
}

nav {
    background-color: #004aad;
    color : white;
    border : solid 1px black;
    font-size : 20px;
    font-weight : 600;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    background-color: #CCC;
    padding : 10px;
    border : solid 1px #CCC;
    text-decoration: none;
    display: inline-block;
}

nav a:hover::before {
    content : "👉";
}

nav a:hover{
    font-style: italic;
}

#definition{
    background-color: aqua;
}

main section {
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px;
}

.player_intro {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
}

.player_intro img {
    border: solid 1px black;
    border-radius: 8px;
}

a[href]{
    color : rgb(182, 0, 0);
}

li p{
    font-weight: 900;
    margin : 10px;
}

h2 + ol{
    background-color: aquamarine;
}

a:visited{
    color : gold;
}

input:focus{
    background : aqua;
}

li:nth-child(1){
    background-color: red;
}